@import models.TEDEvent
@(model:TEDEvent)
<!--
Note: The date should be formatted exactly as it's shown below. In particular, the
"least significant" characters of the month should be encapsulated in a <span>
							element to denote what gets dropped in 1200px mode (eg. the "uary" in "January").
							Oh, and if you don't need a date for a particular page or post you can simply delete
							the entire "date" element.
	-->
	@*
	<span class="date">
		<span class="month">@(model.monthPrefix+model.monthSuffix)</span>
		<span class="day">@model.date.getDayOfMonth,</span>
		<span class="year"> @model.date.getYear</span>
	</span>
	<ul class="stats">
		<li>@model.time</li>
	</ul>
	<p>
		<strong>Speaker: </strong> @model.speaker
	</p>
	<p>
		<strong>Where: </strong>@model.venue
	</p>
	<p>
		@model.description
	</p>
	*@
	@*
	<h2>
	<strong>
	@model.time
	</strong>
	</h2>
	<h2>
	<strong>
	@(model.monthPrefix+model.monthSuffix) @model.date.getDayOfMonth, @model.date.getYear
	</strong>
	</h2>
	<h2>
	<strong>
	Where: @model.venue
	</strong>
	</h2>

*@

	<section class="wrapper style4 container">
		<div class="row 150%">
			<div class="5u 11u(narrower)">
				<!-- Sidebar -->
				<div class="sidebar">
					<section>
						<header>
							<h3>Logistics</h3>
						</header>
							<ul class="logistics">
							<li class="logisticEntry">
								<strong>Date:</strong> @(model.monthPrefix+model.monthSuffix) @model.date.getDayOfMonth, @model.date.getYear
							</li>
							<li class="logisticEntry">
								<strong>Time:</strong> @model.time
							</li>
							<li class="logisticEntry">
								<strong>Venue:</strong> @model.venue
							</li>
							<li class="logisticEntry">
								<strong>Seats:</strong> @model.numAttendants / @model.maxSeats
							</li>
							</ul>
						<footer>
							<ul class="buttons">
								<li><a href="#" class="button small">Register</a></li>
							</ul>
						</footer>
					</section>
				</div>
			</div>
			<div class="6u 10u(narrower) important(narrower)">
				<!-- Content -->
				<div class="content">
					<section>
						@if(model.imgURL.isDefined) {
						<a href="#" class="image featured"><img src="@model.imgURL.get" alt="" /></a>
						}
						<header>
							<h3>@model.title</h3>
						</header>
						<p><strong>Speakers:</strong><br>@model.speaker </p>
						<p><strong>Description:</strong><br>@model.description</p>
					</section>
				</div>
			</div>
		</div>
	</section>