@import model2.Tables.SpeakersRow
@(person:SpeakersRow,isFirst:Boolean)
<section class="wrapper style4 container">
    <div class="row 150%">
        <div class="5u 11u(narrower)">
                <!-- Sidebar -->
            <div class="content">
                <section>
                    <header>
                    </header>
                    @person.bio
                </section>
            </div>
        </div>
        <div class="6u 11u(narrower) important(narrower)">
            <div class="sidebar">
                <section>
                    <header>
			@if(isFirst) {<h2>Speakers:</h2>}
                        <h3>@person.name</h3>
                    </header>
                    @if(person.media != "") { <a href="" class="image featured"><img
                    src="@person.media" alt="" /></a> }
                </section>
            </div>
        </div>
    </div>
</section>
